* {
  font-family: Georgia, "Times New Roman", Times, serif;
}

body {
  background-color: orchid;
  color: white;
}

a {
  color: white;
  font-size: 24px;
}

a:visited {
  color: darkred;
}

h1 {
  text-align: center;
}

img {
  width: 400px;
  height: auto;
}

div {
  background-color: white;
  width: 200px;
  text-align: center;
  margin: 0 auto;
  padding: 20px;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  font-size: 24px;
}
